body{
    margin: 0;
    background-color: rgb(218, 235, 226);
    overflow: hidden;
}
::-webkit-scrollbar{
    display: none;
}
header{
    width: 100%;
    height: calc(5svh + 5svw);
    display: flex;
    align-items: center;
    background-color: rgb(226, 39, 39);
}
header #soccer{
    margin-left: 2.5vw;
    width: 5vw;
    display: inline-block;
}
header h1{
    position: relative;
    margin-left: 2.5vw;
    display: inline-block;
    user-select: none;
    cursor: pointer;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(243, 239, 233);
    font-size: 3svw;
}
#tiktoklink{
    position: absolute;
    right: calc(1% + 2svw);
    width: calc(2% + 1svw);
    opacity: .9;
}
#instalink{
    position: absolute;
    right: calc(4.5% + 2svw);
    width: calc(2.5% + 1svw);
}
#youtubelink{
    position: absolute;
    right: calc(9% + 2svw);
    opacity: .9;
}
#ytarka{
    transition: all .2s ease;
}
#ytarka:hover{
    fill: rgba(82, 0, 0, 0.2);
}
#instaarka{
    transition: all .2s ease;
}
#instaarka:hover{
    fill: rgb(216, 204, 37);
}
#ttarka{
    transition: all .2s ease;
}
#ttarka:hover{
    fill: rgb(41, 38, 38)
}
#link{
    position: absolute;
    right: calc(12% + 3.5svw);
    width: calc(2.5% + 2svw);
}
#discord{
    margin: 0;
    position: relative;
    width: calc(5% + 4svw);
    opacity: .9;
}
#dcarka{
    transition: all .2s ease;
}
#dcarka:hover{
    fill: #6665d2;
}
main{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    height: 100svh;
    width: 100svw;
}
main div #resim{
    position: relative;
    margin-top: calc(-30svw + 50svh);
    max-height: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    perspective: 1000px;
    max-height: fit-content;
    margin-left: 1.5svw;
}
main div div img{
    display: inline-block;
    height: calc(35svh + 30svw);
    max-height: 120%;
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    transition: all .45s ease;
}
main div div img:hover{
    transform: rotateY(12.5deg);
    scale: 1.125;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
}
main #modlar{
    display: inline-flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    margin-top: 7.5svw;
    width: 35svw;
    height: calc(20svh + 10svw);
    position: absolute;
    right: 10svw;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
main div a {
    text-decoration: none;
}
main div div{
    width: 100%;
}
main div div h1{
    font-size: calc(2svh + 2svw);
    color: rgb(49, 48, 48);
    width: 100%;
    user-select: none;
    cursor: pointer;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all .35s ease;
}
main div div h1:hover{
    color: rgb(49, 48, 48);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}