body{
    margin: 0;
    background-color: rgb(36, 28, 80);
}
::-webkit-scrollbar{
    display: none;
}
main{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100dvh;
}
main #skor{
    position: absolute;
    top: 1svh;
    left: 3svw;
    font-size: 50px;
    user-select: none;
    cursor: pointer;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
main button{
    position: absolute;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    justify-content: center;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    height: 10svh;
    width: 10svw;
    user-select: none;
    font-size: 20px;
    cursor: pointer;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}
main div{
    max-height: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
main div div{
    max-height: 75%;
    perspective: 1000px;
    display: flex;
    align-items: center;
    width: 500px;
    max-width: 25svw;
    max-height: fit-content;
}
main div div img{
    display: inline-block;
    height: 27.5em;
    max-height: 120%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .5));
    transition: all .25s ease;
    filter: brightness(0);
}
main div div img:hover{
    transform: rotateY(12.5deg);
    scale: 1.125;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
    filter: brightness(0);
}
main div div div{
    width: 100%;
}
main div div div h1{
    color: white;
    width: 100%;
    user-select: none;
    cursor: pointer;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: all .35s ease;
}
main div div div h1:hover{
    color: rgb(151, 137, 137);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}